* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    overflow-x: hidden;
}
#viewport {
    width: 100vw;
    height: 100vh;
}
#navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 15px;
}
#navbar-center {
  width: 1340px;
  margin: auto;
}
#navbar img {
    display: block;
    float: left;
    width: 150px;
}
#navbar ul {
    float: right;
    margin-top: 12px;
}
#navbar ul li {
    float: left;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}
#navbar ul li a {
    text-decoration: none;
    transition: all .3s linear;
    font-size: 16px;
    display: block;
    position: relative;
}
#navbar ul li a:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #ff7e00;
  left: 0;
  bottom: -5px;
  transition: all .3s linear;
}
#navbar ul li a:hover:after {
  width: 100%;
}
#navbar ul li a:link, #navbar li a:visited {
    color: #292929;
}
#navbar ul li a.active, #navbar ul li a:hover {
    color: #ff7e00;
}
#navbar ul li a.active:after {
  width: 100%;
}
#viewport-container {
    width: 1340px;
    height: 100vh;
    margin: auto;
    position: relative;
}
#viewport-container:after {
  content: '';
  position: absolute;
  right: -50%;
  width: 100%;
  height: 100vh;
  background-image: url('../img/viewport.png');
  background-repeat: no-repeat;
  background-size:cover;
}
#text {
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    height: 320px;
    margin-top: -160px;
}
#viewport-container h2 {
    font-size: 48px;
    line-height: 55px;
    color: #292929;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
#viewport-container hr {
  width: 60px;
  height: 6px;
  background-color: #ff7e00;
  margin-left: 0;
  border: none;
  margin-bottom: 20px;
}
#viewport-container p {
    font-size: 18px;
    line-height: 26px;
    color: #292929;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
#viewport-container button {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #ff7e00;
    background: -moz-linear-gradient(-45deg, #ff7e00 0%, #a016f7 100%);
    background: -webkit-linear-gradient(-45deg, #ff7e00 0%, #a016f7 100%);
    background: linear-gradient(135deg, #ff7e00 0%, #a016f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e00', endColorstr='#a016f7', GradientType=1);
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding: 5px;
    box-shadow: -3px 10px 15px 2px rgb(153, 153, 153);
    border: 0;
    cursor: pointer;
    transition: all .3s linear;
}
#viewport-container button:hover {
    transform: translate(0,-5px);
}
#form {
    position: relative;
    background-color: #f3f3f3;
    padding: 60px 0;
    overflow: hidden;
    margin-top: 30px;
}
#form hr {
  width: 60px;
  height: 6px;
  background-color: #ff7e00;
  border: none;
  margin-bottom: 20px;
}
#form h2 {
  font-size: 48px;
  line-height: 55px;
  color: #292929;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
#form-box {
    width: 768px;
    margin: 30px auto;
}
#form input[type="text"], #form input[type="email"] {
    display: block;
    margin: 20px 0;
    padding: 15px 0;
    font-size: 16px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #999;
}
#form input:invalid {
  outline: none;
  box-shadow: none;
}
.left {
    float: left;
    width: 48%;
}
.right {
    float: right;
    width: 48%;
}
#form textarea {
    width: 100%;
    resize: none;
    padding: 15px 0;
    margin: 10px 0;
    height: 120px;
    font-size: 16px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #999;
}
#form label {
    margin: 20px auto;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 310px;
    cursor: pointer;
}
#form input[type=checkbox] {
    display: inline-block;

}
#form button {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  line-height: 30px;
  background: #ff7e00;
  background: -moz-linear-gradient(-45deg, #ff7e00 0%, #a016f7 100%);
  background: -webkit-linear-gradient(-45deg, #ff7e00 0%, #a016f7 100%);
  background: linear-gradient(135deg, #ff7e00 0%, #a016f7 100%);
  filter: prgid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e00', endColorstr='#a016f7', GradientType=1);
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 5px;
  box-shadow: -3px 10px 15px 2px rgb(153, 153, 153);
  border: 0;
  cursor: pointer;
  transition: all .3s linear;
}
#form button:hover {
    transform: translate(0,-5px);
}
#footer {
    background: #ff7e00;
    background: -moz-linear-gradient(top, #ff7e00 0%, #a016f7 100%);
    background: -webkit-linear-gradient(top, #ff7e00 0%, #a016f7 100%);
    background: linear-gradient(to bottom, #ff7e00 0%, #a016f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e00', endColorstr='#a016f7', GradientType=0);
    color: white;
    padding: 20px 10px;
    margin: 0 auto;
    overflow:hidden;
}
#footer h3 {
    font-weight: 300;
    text-align: center;
    font-size: 16px;
}
@media only screen and (max-width: 1340px) {
  #navbar-center {
    width: 1170px;
  }
  #viewport-container {
      width: 1170px;
  }
}
@media only screen and (max-width: 1170px) {
  #navbar-center {
    width: 990px;
  }
  #viewport-container {
      width: 990px;
  }
}
@media only screen and (max-width: 990px) {
  #navbar-center {
    width: 768px;
  }
  #viewport-container {
      width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  #navbar-center {
    width: 480px;
  }
  #navbar img {
    float: none;
    margin: auto;
  }
  #navbar ul {
    float: none;
  }
  #navbar ul li {
    width: 25%;
  }
  #navbar ul li a {
    text-align: center;
  }
  #viewport-container {
      width: 480px;
  }
  #text {
    width: 100%;
    z-index: 9;
  }
  #viewport-container::after {
      opacity: 0.3;
  }
  #viewport-container h2 {
    text-align: center;
  }
  #viewport-container hr {
    margin-left: auto;
  }
  #viewport-container p {
      text-align: center;
  }
  #viewport-container button {
    display: block;
    margin: auto;
  }
  #form-box {
      width: 480px;
  }
  .left {
    float: none;
    width: 100%;
  }
  .right {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #navbar-center {
    width: 360px;
  }
  #viewport-container {
      width: 360px;
  }
  #form-box {
      width: 96%;
      margin-left: 2%;
  }
  #navbar ul li {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 480px) {
  #navbar-center {
    width: 100%;
  }
  #viewport-container {
      width: 100%;
  }
}

