@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ol, ul, li, form, label, footer, header, nav {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}
* {
	box-sizing: border-box;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
}
